<%= form_with(local: true) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name, class: 'mb-1 form-control' %>
  <br/>
  <br/>
  <br/>
  <div>
    <input type="submit" name="commit" value="Sign In ">
  </div>
<% end %>
